@charset "UTF-8";

/*Navbar******************************************************/
/*Nav Style*/
.navbar-brand{
  font-size: 40px;
  padding-top: 37px;
  color: #2980B9 !important;
  font-family: Century Gothic;
}
.menu > a{
  margin-top: 20px;
  color: white !important;
}
ul.nav a:hover {
  color: silver !important;
}

/*Centers nav*/
.navbar-inverse .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar-inverse .navbar-collapse {
    text-align: right;
}
.menu{
  padding-left: 40px;
  font-family: Century Gothic;
}
.container-fluid{
  margin: 0px 30px 15px 30px;
}

/*Extend nav*/
.navbar-inverse{
  padding-bottom: 5px;
}

/*Underline Current*/
.current > a{
  border-bottom: 1px solid #4A88DA;
}
a:hover{
  text-decoration: none;
}

/* General */
.container{
  font-family: Georgia;
  margin-top: 30px;
  margin-bottom: 30px;

}

body{
    font-size: 18px;
    color: black;
    text-align: justify;
    background-repeat:no-repeat;
    background-size: cover;
    background-color: black;
}

.background{
  background-color: white;
  border-radius: 10px 10px 2px 2px ;
  opacity: 0.97;
  padding: 1px 20px 0px 20px;
}

/* Used in About and Awesomeness */
.section_title{
  border-bottom: 1px solid black;
  color: orange;
}

/* Create two unequal columns*/
.left{
  width: 30%;
}
.right{
  width: 70%;
}
.row{
  margin-right: 5px;
}

/* Creates two even columns */
.column {
  float: left;
}
.left_even {
  width: 50%;
}
.right_even {
  width: 50%;
}
.left_about {
  width: 70%;
}
.right_about {
  width: 30%;
}

/*Home***********************************************/
body.homeMorning{
  background-image: url(images/backgrounds/morning.jpeg);
}

body.homeAfternoon{
  background-image: url(images/backgrounds/afternoon.jpg);
}

body.homeEvening{
  background-image: url(images/backgrounds/evening.jpg);
}

.home_text{
  font-size: 32px;
  margin: 0px 200px 20px 200px;
  color: white;
  text-align: center;
  font-family: Century Gothic;
}

 .home_text_welcome{
   font-size: 100px;
   color: white;
   text-align: center;
   font-weight: bold;
   font-family: cursive;
   text-shadow: 2px 2px black;
   margin-top: 150px;
}

.resume{
  color: #2980B9;
}

.resume:hover{
  color: lightgrey;
}

/*About***********************************************/
body.about{
  background-image: url(images/backgrounds/tech_blue.jpg);
  background-repeat: repeat;
  background-size: auto;
}

.myPic{
  width: 250px;
  margin: 8px 0px 8px 20px;
  border: 2px solid black;
}

/*Experience********************************************************************/
body.experience{
  background-color: white;
  background-repeat: repeat;
  background-size: auto;
  background-image: url(images/backgrounds/tech_yellow.jpg);
}

/* Position Title */
.subtitle_exp{
  font-weight: bold;
  font-style: italic;
}

/* Category Title */
.title_exp{
  color: darkorange;
  margin-left: 25px;
}

/*Awesomeness*******************************************************************/
body.awesomeness{
  background-color: white;
  background-repeat: repeat;
  background-size: auto;
  background-image: url(images/backgrounds/tech_red.jpg);
}

.title_awe{
  font-style: italic;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}

.app{
  margin-top: 50px;
  border-bottom: lightgrey solid 1px;
}

.bookPic{
  width: 150px;
  margin: 8px 0px 8px 20px;
  border: 2px solid black;
}

.floatright{
  float: right;
}

.red{
  color: red;
}

.green{
  color: green;
}

.box_animate{
  padding-right: 40px;
  background-color: orange;
  border-radius: 10px;
  color: white;
  outline: none;
}

#list li{
  background-color: darkorange;
  padding: 10px 10px 10px 10px;
  width: 300px;
  margin-top: 5px;
  border: black 1px solid;
  list-style: none;
  border-radius: 5px;
  color: white;
}




/*Screen Sizing******************************************************/
/*For Tablets (Activates if under 1024px)*/
@media (max-width: 1024px){
  /*Navbar******************************************************/
  /*Nav Style*/
  .navbar-brand{
    font-size: 32px;
  }
  .menu > a{
    font-size: 16px;
  }

  /*Centers nav*/
  .menu{
    padding-right: 0px;
    padding-left: 10px;
  }
  .container-fluid{
    margin: 0px 10px 15px 10px;
  }

  /* .container{
    margin: 0px 10px 15px 10px;
  } */

  /*Home***********************************************/
  .home_text{
    font-size: 28px;
    margin: 10px 80px 100px 80px;
  }

   .home_text_welcome{
     font-size: 80px;
   }

  /*About***********************************************/
  .container{
    font-size: 16px;
  }

  .myPic{
    width: 150px;
    float: left;
    margin: 0px 30px 5px 30px;
    border: 1px solid black;
  }
}

/*For Phones (Activates if under 767px)*/
@media (max-width: 767px){
  /*Navbar******************************************************/
  /*Nav Style*/
  .navbar-brand{
    font-size: 30px;
    padding-top: 20px;
    text-align: right !important;
  }

  .menu > a{
    font-size: 15px;
    margin-top: 0px;
  }

  /*Extend nav*/
  .navbar-inverse{
    padding-bottom: 20px;
    opacity: 1.0;
    margin-right: -20px;
  }

  /*Underline Current*/
  .current > a{
    border-bottom: none !important;
    color: grey !important;
  }

  a:hover{
    text-decoration: none;
  }

/* General */

.background{
  opacity: 1.0;
  border-radius: 0px 0px 0px 0px;
}

/*Home***********************************************/
  body.homeMorning{
    background-repeat:repeat;
    background-size: cover;
    background-image: url(images/backgrounds/whiteCubes.png);
    background-color: white;
  }

  body.homeAfternoon{
    background-repeat:repeat;
    background-size: cover;
    background-image: url(images/backgrounds/whiteCubes.png);
    background-color: white;
  }

  body.homeEvening{
    background-repeat:repeat;
    background-size: cover;
    background-image: url(images/backgrounds/whiteCubes.png);
    background-color: white;
  }

  .container-fluid{
    margin: 0px 20px 0px 10px;
  }

  .home_text_welcome{
    margin-top: 40px;
 }

 .home_text{
   font-size: 20px;
   margin: 10px 30px 20px 30px;
   color: black;
   text-align: center;
   font-family: Century Gothic;

 }

  .home_text_welcome{
    font-size: 50px;
    margin: 160px 0px 0px 0px;
    color: black;
    text-align: center;
    font-weight: bold;
    font-family: cursive;
    text-shadow: none;
  }


  /*About***********************************************/

  body.about{
    background-color: white;
    background-image: none;
  }




  .myPic{
    width: 200px;
    margin: 5px 5px 0px 5px;
    border: 1px solid black;
  }

  .right_even{
    width: 100%;
  }

  .left_even{
    width: 100%;
  }

  .right_about{
    width: 100%;
  }

  .left_about{
    width: 100%;
  }

  /*Experience***********************************************/

  body.experience{
    background-image: none;
  }

.title_exp{
  margin-left: 0px;
}

  .container{
    margin: 0px 0px 15px 10px;
  }

  .right{
    width: 100%;
  }

  .left{
    width: 100%;
  }

/* Awesomeness */
  .floatright{
    float: none;
  }

  body.awesomeness{
    background-image: none;
  }

}
