@charset "UTF-8";

/*Navbar******************************************************/
/*Nav Style*/
.navbar-brand{
  font-size: 40px;
  padding-top: 37px;
  /* color: orange !important; */
  color: #2980B9 !important;
  /*font-family: Copperplate, "Copperplate Gothic Light", fantasy;*/
  font-family: Century Gothic;
}
.menu > a{
  font-size: 19px;
  margin-top: 20px;
  color: white !important;
}
ul.nav a:hover {
  color: silver !important;
}

/*Centers nav*/
.navbar-inverse .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar-inverse .navbar-collapse {
    text-align: right;
}
.menu{
  padding-right: 5px;
  padding-left: 50px;
  font-family: Century Gothic;
}
.container-fluid{
  margin: 0px 80px 15px 80px;
}

/*Extend nav*/
.navbar-inverse{
  padding-bottom: 5px;
  /* opacity: 0.9; */
}

/*Underline Current*/
.current > a{
  border-bottom: 1px solid #4A88DA;
}
a:hover{
  text-decoration: none;
}

/* General */
.container{
  font-family: Georgia;
  margin-top: 30px;
  /* background-color: white; */
  opacity: 0.9;
}

body{
    font-size: 20px;
    color: black;
    text-align: justify;
}


/*Home***********************************************/
body.homeMorning{
    background-repeat:no-repeat;
    background-size: cover;
    background-image: url(images/background_morning.jpeg);
    background-color: black;
}

body.homeAfternoon{
background-repeat:no-repeat;
background-size: cover;
background-image: url(images/afternoon_park.jpg);
background-color: black;
}

body.homeEvening{
background-repeat:no-repeat;
background-size: cover;
background-image: url(images/evening_city.jpg);
background-color: black;
}



.home_text{
  font-size: 32px;
  margin: 10px 310px 20px 310px;
  color: white;
  text-align: center;
  font-family: Century Gothic;
}

 .home_text_welcome{
   font-size: 110px;
   margin: 160px 0px 0px 0px;
   color: white;
   text-align: center;
   font-weight: bold;
   font-family: cursive;
   text-shadow: 2px 2px black;
 }

.resume{
  color: #2980B9;
}

.resume:hover{
  color: lightgrey;
}

/*About***********************************************/
body.about{
  background-repeat:repeat;
  background-size: auto;
  /* background-image: url(images/whiteCubes.png); */
  background-color: white;
}

.column {
  float: left;

}

.left_even {
  width: 50%;

}

.right_even {
  width: 50%;
}

.title_about{
  border-bottom: 1px solid black;
  /* font-style: italic; */
  color: turquoise;
}

/* .container_about{
  font-family: Georgia;
  margin: 30px 80px 30px 80px;
} */

/* .about_text{
  font-size: 25px;
  color: black;
  text-align: justify;
} */

.myPic{
  width: 250px;
  float: right;
  margin: 8px 0px 40px 20px;
  border: 2px solid black;
}

/* .column_left{
  float:left;
  width: 50%;
  padding-right: 20px;
}

.column_right{
  float:right;
  width: 50%;
  padding-left: 20px;
} */

/*Experience********************************************************************/
body.experience{
  background-repeat: repeat;
  background-size: auto;
  /* background-image: url(images/whiteCubes.png); */
  background-color: white;
}

/* .box{
  margin-bottom: 20px;
  opacity: 0.9;
  padding: 1px 10px 1px 10px;
  border-radius: 10px 10px 10px 10px;
  background-color: white;
} */

/* .sub-box{
  margin-bottom: 40px;
  float: right;
  width: 60%;
} */

.event-title{
  font-weight: bold;
  font-style: italic;
  margin-left: 20px;
}

h4{
  margin-left: 20px;
}

.title_exp{
  color: orange;
  /* margin-bottom: 50px; */
}

/* #work{
  background-color: beige;
  border: 1px solid tan;
}

#entre{
  background-color: turquoise;
  border: 1px solid turquoise;
}

#lead{
  background-color: lightblue;
  border: 1px solid lightblue;
} */




/* Create two unequal columns that floats next to each other */
.column {
    float: left;

}

.left {
  width: 30%;
  /* margin-left: 30px; */
}

.right {
  width: 70%;
}




/*Awesomeness*******************************************************************/
body.awesomeness{
  background-repeat: repeat;
  background-size:contain;
  /* background-image: url(images/whiteCubes.png); */
  background-color: white;
  color: black;
}

.title_awe{
  border-bottom: 1px solid black;
  font-style: italic;
  color: black;
  font-weight: bold;
  margin-top: 10px;
}

.app{
  margin-top: 50px;
}


/*Screen Sizing******************************************************/
/*For Tablets (Activates if under 1024px)*/
@media (max-width: 1024px){
  /*Navbar******************************************************/
  /*Nav Style*/
  .navbar-brand{
    font-size: 32px;
  }
  .menu > a{
    font-size: 16px;
  }

  /*Centers nav*/
  .menu{
    padding-right: 0px;
    padding-left: 10px;
  }
  .container-fluid{
    margin: 0px 30px 15px 30px;
  }

  /*Home***********************************************/
  .home_text{
    font-size: 28px;
    margin: 10px 150px 200px 150px;
  }

   .home_text_welcome{
     font-size: 90px;
   }

  /*About***********************************************/
  .about_text{
    font-size: 20px;
    color: black;
    text-align: justify;
  }


  .myPic{
    width: 150px;
    float: left;
    margin: 0px 30px 5px 30px;
    border: 1px solid black;
  }
}

/*For Phones (Activates if under 767px)*/
@media (max-width: 767px){
  /*Navbar******************************************************/
  /*Nav Style*/
  .navbar-brand{
    font-size: 30px;
    padding-top: 20px;
    text-align: right !important;
  }

  .menu > a{
    font-size: 15px;
    margin-top: 0px;
  }

  /*Extend nav*/
  .navbar-inverse{
    padding-bottom: 20px;
    opacity: 1.0;
    margin-right: -20px;
  }

  /*Underline Current*/
  .current > a{
    border-bottom: none !important;
    color: grey !important;
  }

  a:hover{
    text-decoration: none;
  }

  /* body.home{
    background-repeat:repeat;
    background-size: cover;
    background-image: url(images/whiteCubes.png);
    background-color: white;
  } */

  body.homeMorning{
    background-repeat:repeat;
    background-size: cover;
    background-image: url(images/whiteCubes.png);
    background-color: white;
  }

  body.homeAfternoon{
    background-repeat:repeat;
    background-size: cover;
    background-image: url(images/whiteCubes.png);
    background-color: white;
  }

  body.homeEvening{
    background-repeat:repeat;
    background-size: cover;
    background-image: url(images/whiteCubes.png);
    background-color: white;
  }

  .container-fluid{
    margin: 0px 20px 0px 10px;
  }

  /*About***********************************************/

  .about_text{
    font-size: 17px;
    color: black;
    text-align: justify;
  }

  body.about{
    background-repeat:repeat;
    background-size: contain;
    background-image: url(images/whiteCubes.png);
    background-color: white;
  }

  .myPic{
    width: 150px;
    float: left;
    margin: 5px 30px 5px 30px;
    border: 1px solid black;
  }

  /*Home***********************************************/
  .home_text{
    font-size: 20px;
    margin: 10px 30px 20px 30px;
    color: black;
    text-align: center;
    font-family: Century Gothic;

  }

   .home_text_welcome{
     font-size: 50px;
     margin: 160px 0px 0px 0px;
     color: black;
     text-align: center;
     font-weight: bold;
     font-family: cursive;
     text-shadow: none;
   }
 }
